.portfolio_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--space) * 6);
  margin-bottom: calc(var(--space) * 4);
  background-color: cornflowerblue;
  opacity: 0.5;
  background-blend-mode: darken;
  max-width: 100%;
  width: 700px;
}

.portfolio_date {
  font-style: italic;
  color: whitesmoke;
}